<div class="privet">
    <h1 class="welcome">Добро пожаловать!</h1>
</div>

<h2 class="top">Это наши топ самые продаваемые продукты этого месяца</h2>
<div class="container">
<div class="shadow-border">
<img src="../../../assets/images/колечко.jpeg" alt="fdsdsfsd" class="image ">
</div>
<div class="shadow-border">

<img src="../../../assets/images/бутылка.jpeg" alt="fdsdsfsd" class="image ">
</div>
<div class="shadow-border">

<img src="../../../assets/images/портмоне.jpeg" alt="fdsdsfsd" class="image ">
</div>
<div class="shadow-border">

<img src="../../../assets/images/рубашка.jpeg" alt="fdsdsfsd" class="image ">

</div>
<div class="shadow-border">

    <img src="../../../assets/images/чехол.jpeg" alt="fdsdsfsd" class="image ">
    
    </div>
<div class="shadow-border">

    <img src="../../../assets/images/фонарик.jpeg" alt="fdsdsfsd" class="image ">
        
</div>
</div>
<h3 class="privet">
   Мы рады приветствовать вас здесь и надеемся, что вы найдете здесь все, что вам нужно. Наша команда работает неутомимо, чтобы предоставить вам лучшие товары и качественный сервис. Мы всегда готовы ответить на ваши вопросы и помочь вам с выбором. Благодарим вас за посещение нашего магазина и надеемся, что вы останетесь довольны нашими продуктами и услугами!
</h3>
